.heroContainer {
    max-width: 1300px;
}

.hero-wrapper {
    margin: 15px;
    padding: 100px 0;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    min-height: calc(100vh - 133px);
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .hero-wrapper {
        padding: 50px 0;
    }

    .hero {
        flex-direction: column;
    }
}

.hero__content {
    flex: 1 1 60%;
    max-width: 60%;
}

.hero__image {
    flex: 1 1 40%;
    max-width: 40%;
}

@media (max-width: 768px) {
    .hero__content,
    .hero__image {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }

    .hero__image > div {
        max-width: 80%;
        margin: 0 auto;
    }
}

.hero__content p {
    font-size: 1.2rem;
}

.hero__image > div {
    transform: rotate(-1deg);
}

.hero__image > div {
    /*animation-name: rocking;*/
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.hero__headline {
    font-size: 3rem;
    line-height: 1.1;
    color: var(--color-blue);
    font-weight: 600;
}

@media (max-width: 992px) {
    .hero__headline {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .hero__headline {
        font-size: 2rem;
    }
}
