
/* Normalize.css End */

/* Variables Start */

:root {
    --font-sans-serif: 'Montserrat', 'Helvetica', 'sans-serif';
    --font-serif: 'Merriweather', 'serif';
    --color-blue: #16275d;
    --color-mid-blue: #223e99;
    --color-light-blue: #d9e2ff;
    --color-gray: #333;
    --color-light-gray: #eee;
    --color-error: #ff2961;
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
}

@media (max-width: 992px) {}

/* Variables End */

/* Structure Start */

/*main {*/
/*    margin: 0 30px;*/
/*}*/

/*@media (max-width: 992px) {*/
/*    main {*/
/*        margin: 0 15px;*/
/*    }*/
/*}*/

.row {
    display: flex;
    margin: 0 -15px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.col {
    padding: 0 15px;
    flex: 1 1 auto;
    max-width: 100%;
}

/* Structure End */

/* Utility Start */

body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: #222;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 110%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    html {
        font-size: 118%;
    }
}

/* Utility End */

h4.intro {
    font-family: var(--font-serif);
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: 1px;
}

.button-outline {
    padding: 10px 20px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-outline:hover {
    background: var(--color-blue);
    color: #fff;
}

.button,
.button-solid {
    padding: 15px 30px;
    border: none;
    background: var(--color-blue);
    color: #fff;
    transition: all 0.3s ease;
    font-family: var(--font-sans-serif);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateY(0);
}

.button:hover,
.button-solid:hover {
    background: var(--color-mid-blue);
    color: #fff;
}

a.cta {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    text-transform: uppercase;
}

.formGroup.error input,
.formGroup.error textarea {
    transition: border 0.3s ease-in-out;
    border: 1px solid var(--color-error);
}

.requiredHelpText {
    font-size: 0.75rem;
    margin-top: .75rem;
}

.requiredHelpText.hidden {
    display: none;
}

.requiredHelpText.show {
    display: block;
}

blockquote {
    margin: 4rem -1rem;
    padding: 3rem;
    background: #fff;
    box-shadow: 0 0 20px #eee;
}

@media (max-width: 992px) {
    blockquote {
        padding: 1.5rem;
    }
}

@media (min-width: 1200px) {
    blockquote {
        margin: 4rem -3rem;
    }
}

blockquote p {
    font-size: 1.2em;
}

blockquote p.source {
    font-size: 1em;
    text-align: center;
}

blockquote p.source:before {
    display: inline-block;
    content: '';
    height: 3px;
    width: 18px;
    margin-right: 10px;
    background: var(--color-mid-blue);
    position: relative;
    top: -5px;
}

blockquote p:first-of-type:before {
    display: block;
    height: 65px;
    margin-bottom: 2rem;
    content: '\201C';
    font-size: 6rem;
    font-family: Georgia, serif;
    font-weight: bold;
    color: var(--color-mid-blue);
    text-align: center;
    line-height: 1;
}

figure.inline--left {
    float: left;
    width: 278px;
    margin: 8px 40px 40px -20px;
}

@media (max-width: 800px) {
    figure.inline--left {
        float: left;
        width: 195px;
        margin: 8px 30px 30px -20px;
    }
}

@media (min-width: 1190px) {
    figure.inline--left {
        margin: 8px 40px 40px -80px;
    }
}
