.nav {
    justify-self: flex-end;
    flex: 0;
}

.ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.li {
    display: flex;
    align-items: center;
    margin: 0;
    /*padding: 10px;*/
}

.li + .li {
    margin-left: 30px;
}

.link {
    font-family: var(--font-sans-serif);
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.link:hover {
    opacity: 0.75;
}

@media screen and (min-width: 993px) {
    .li:last-child .link {
        padding: 10px 20px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    .li:last-child .link:hover {
        background: rgba(255,255,255,1);
        color: #16275d;
    }
}

.subMenu {
    display: none;
}

.subMenuExpanded {
    display: block;
}

.toggle {
    display: none;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 993px) {
    .subMenuExpanded,
    .subMenu {
        display: none !important;
    }
}

@media (max-width: 992px) {

    .nav {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 107px;
        height: 0;
        overflow: hidden;
        transform: translateY(-30px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        z-index: 5;
        font-size: 0.9rem;
        padding: 0 0 20px 0;
    }

    .nav > ul > li:last-of-type {
        padding: 15px 15px 0 15px
    }

    .nav > ul > li:last-of-type a {
        padding: 10px 20px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.3s ease;
        text-align: center;
    }

    .li {
        position: relative;
        align-items: flex-start;
    }

    .menu-active {
        transform: translateY(0);
        background: linear-gradient(180deg, var(--color-blue), #0c1531);
        opacity: 1;
        height: auto;
    }

    .menu-active .ul {
        flex-direction: column;
    }

    .nav.menu-active li + li {
        margin-left: 0;
    }

    .menu-active li {
        flex-direction: column;
    }

    .menu-active a {
        display: block;
        padding: 5px 15px;
        width: 100%;
    }

    .toggle {
        display: block;
        font-size: 1.4rem;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 0.7;
        height: 38px;
    }

    .toggle:after {
        content: '+';
        display: inline-block;
    }

    .linkOpen + span:after {
        content: '-';
    }

    .subMenuExpanded {
        display: block;
        margin: 0 0 0.75rem 1rem !important;
        width: 100%;
    }

    .subMenuExpanded li {
        font-size: 14px;
    }


}
